.home-h1 {
    color: white;
    font-size: 40px;
    font-weight: normal;
}
.background-wrapper {
    overflow: hidden; 
    /* background-size: cover;
    background-repeat: no-repeat;    */
    margin: auto;
    position: relative;
    height: 95vh;
}
.background {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1) ), url(../images/pizza-home-2.jpg);
    background-size: cover;
    height: 130%;
    background-position: 50% 10%;
    opacity: 0.9;
    margin: 20px;

    display: flex;
}
.home-words {
    margin: 80px;
    
}
.white-text {
    color: white;
}
/* Desktop styles */
@media only screen and (min-width: 768px) {
    .home-h1 {
        font-size: 60px;
    }
    .background {
        height: 100%;
        background-position: 50% 15%;
        margin: 35px;
    }

}